[Unit]
Description=Chatmaps

[Service]
ExecStartPre=/usr/bin/cp /etc/letsencrypt/live/api.0x30.in/privkey.pem /etc/letsencrypt/live/api.0x30.in/fullchain.pem /var/lib/api-ssl
ExecStart=/usr/bin/docker run --name peerjs -v /var/lib/api-ssl:/ssl -p 9000:9000 peerjs/peerjs-server --port 9000 --allow_discovery --sslkey /ssl/privkey.pem --sslcert /ssl/fullchain.pem

[Install]
WantedBy=multi-user.target
